@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
    font-family: "sans-joseregular";
    src: url("/static/fonts/sans-jose-regular-webfont.woff2") format("woff2"),
         url("/static/fonts/sans-jose-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "lora";
    src: url("/static/fonts/Lora-Regular-webfont.woff2") format("woff2"),
         url("/static/fonts/Lora-Regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

/* https://coolors.co/app/ffbc42-d81159-8f2d56-218380-44cfcb */
h1 {
    @apply text-6xl;
    font-family: "sans-joseregular";
  }
  
  h2 {
    @apply text-5xl;
    font-family: "sans-joseregular";
  }
  
  h3 {
    @apply text-4xl;
    font-family: "sans-joseregular";
  }
  
  html,
  body {
    margin: 0;
    padding: 0;
    @apply text-gray-800;
    font-family: "Lora", serif;
  }
  